* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.tanitim {
  position: absolute;
  top: 101px;
  height: 200px;
  background-color: #f6f6f6;
  width: 100vw;
}

.tanitimtitle {
  position: relative;
  top: 50px;
  font-size: 30px;
  left: 400px;
  font-family: sans-serif;
  font-weight: 100;
}

.paragraf {
  color: #797979;
  font: 1rem sans-serif;
  font-weight: 100;
  position: relative;
  top: 65px;
  left: 400px;
}

.tanitimbolum {
  font-family: sans-serif;
  color: #797979;
  position: relative;
  top: 50px;
  left: 1500px;
}

.serit {
  width: 855px;
  height: 50px;
  background-color: #f6f6f6;
  position: relative;
  top: 450px;
  left: 700px;
}

.seritoptin {
  border: #f6f6f6 solid 1px;
  width: 170px;
  height: 40px;
  position: relative;
  left: 50px;
  top: 5px;
}

.seritoptin:focus {
  border: black solid 1px;
}

.seritoptin2 {
  border: #f6f6f6 solid 1px;
  width: 120px;
  height: 40px;
  position: relative;
  left: 70px;
  top: 5px;
}

.seritoptin2:focus {
  border: black solid 1px;
}

.BrowseCategories {
  border: #e6e6e6 solid 1px;
  color: #2a2a2a;
  position: absolute;
  top: 550px;
  left: 400px;
  width: 250px;
  height: 370px;
}

.ProductBrand {
  border: #e6e6e6 solid 1px;
  color: #2a2a2a;
  position: absolute;
  top: 950px;
  left: 400px;
  width: 250px;
  height: 300px;
}
.color {
    border: #e6e6e6 solid 1px;
    color: #2a2a2a;
    position: absolute;
    top: 1280px;
    left: 400px;
    width: 250px;
    height: 300px;
}
.price{
     border: #e6e6e6 solid 1px;
  color: #2a2a2a;
  position: absolute;
  top: 1610px;
  left: 400px;
  width: 250px;
  height: 150px;
}
.range{
    position: relative;
    top: 50px;
    left: 20px;
    width: 200px;
}
.pricetext{
    font-family: sans-serif;
    color: #797979;
    position: relative;
    top: 60px;
    left: 20px;
}
.BrowseCategoriesTitle {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: 20px;
  left: 20px;
  padding-bottom: 10px;
  border-bottom: rgb(113, 205, 20) solid 2px;
  width: 200px;
}

.BrowseCategoriesInp1 {
  margin-top: 25px;
}

.BrowseCategoriesinp1 {
  position: relative;
  top: 20px;
  left: 20px;
}

.BrowseCategorieslabel1 {
  font-family: sans-serif;
  position: relative;
  top: 20px;
  left: 50px;
  color: #797979;
}

.cardallrow1 {
  width: 855px;
  position: relative;
  top: 500px;
  left: 700px;
  display: flex;
  justify-content: space-between;
}

.inscard4 {
  height: 400px;
  width: 262px;
  border: 1px rgb(230, 229, 229) solid;
  position: relative;
}

.ayakkabiphoto {
  border-bottom: 1px rgb(230, 229, 229) solid;
}

.inscard4title {
  font-family: sans-serif;
  color: rgb(92, 92, 92);
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 18px;
  transition: all 0.3s linear;
}
.inscard4title:hover {
  color: var(--mygreen);
}

.inscard4fiyat {
  font-family: sans-serif;
  font-size: 23px;
  position: relative;
  top: 35px;
  left: 25px;
}

.inscard4indirimi {
  font-family: sans-serif;
  position: relative;
  top: 12px;
  left: 130px;
  text-decoration: line-through;
}

.cardallrow2 {
  width: 855px;
  position: relative;
  top: 520px;
  left: 700px;
  display: flex;
  justify-content: space-between;
}

.cardallrow3 {
  width: 855px;
  position: relative;
  top: 540px;
  left: 700px;
  display: flex;
  justify-content: space-between;
}





.footer {
    position: relative;
    top: 800px;
  height: 542px;
  background-color: #0d0d1f;
}

.footerul1 {
  position: relative;
  left: 400px;
  top: 125px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}
.footerul1li {
  margin: 20px 0px;

  font-size: 15px;
  transition: color 0.3s linear;
  cursor: pointer;
}
.footerul1li:hover {
  color: white;
}

.footerul1Title {
  color: white;
  position: relative;
  left: 400px;
  top: 120px;
  font-family: sans-serif;
}

.footerul2 {
  position: relative;
  left: 600px;
  top: -66px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul2Title {
  color: white;
  position: relative;
  left: 600px;
  top: -66px;
  font-family: sans-serif;
}

.footerul3 {
  position: relative;
  left: 800px;
  top: -250px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul3Title {
  color: white;
  position: relative;
  left: 800px;
  top: -255px;
  font-family: sans-serif;
}
.footerul4 {
  position: relative;
  left: 1000px;
  top: -440px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul4Title {
  color: white;
  position: relative;
  left: 1000px;
  top: -450px;
  font-family: sans-serif;
}

.newsletter {
  color: white;
  position: relative;
  left: 1200px;
  top: -640px;
  font-family: sans-serif;
}

.newsletterText {
  position: relative;
  left: 1200px;
  top: -610px;
  color: #797979;
  font-family: sans-serif;
}

.newsletterInp {
  position: absolute;
  top: 230px;
  left: 1200px;
  height: 60px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  padding-left: 20px;
}

.subbtn {
  position: absolute;
  top: 240px;
  left: 1400px;
  width: 100px;
  height: 35px;
  border: none;
  background-color: var(--mygreen);
  color: white;
}

.copyrightmessage {
  position: absolute;
  left: 400px;
  top: 350px;
  color: white;
}

.copyrighticon {
  position: absolute;
  left: 845px;
  top: 350px;
  color: white;
}

.by {
  position: absolute;
  left: 866px;
  top: 350px;
  color: white;
}

.bycolor {
  color: rgb(113, 205, 20);
  cursor: pointer;
}

.footericon1 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon2 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon3 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon4 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
