* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  height: 2400px;
}

.tanitim {
  position: absolute;
  top: 101px;
  height: 200px;
  background-color: #f6f6f6;
  width: 100vw;
}

.tanitimtitle {
  position: relative;
  top: 50px;
  font-size: 30px;
  left: 400px;
  font-family: sans-serif;
  font-weight: 100;
}

.paragraf {
  color: #797979;
  font: 1rem sans-serif;
  font-weight: 100;
  position: relative;
  top: 65px;
  left: 400px;
}

.tanitimbolum {
  font-family: sans-serif;
  color: #797979;
  position: relative;
  top: 50px;
  left: 1500px;
}

.table {
  position: relative;
  top: 500px;
  left: 400px;
}
th {
  color: #797979;
  width: 200px;
  font-family: sans-serif;
  border-bottom: 1px solid #797979;
  padding-bottom: 20px;
}
td {
  text-align: center;
  margin: 10px 0px;
}

.product {
  text-align: left;
  padding-right: 80px;
  width: 550px;
}
.img {
  position: relative;
  top: 40px;
  left: -80px;
  border: #c9c8c8 solid 1px;
  margin-top: 50px;
}

.span {
  color: #797979;
  font-family: sans-serif;
  position: relative;
  left: -60px;
  margin-top: 50px;
}

.price {
  font-size: 25px;
  font-family: sans-serif;
  color: #797979;
  position: relative;
  top: 40px;
  margin-top: 50px;
}

.inpum {
  width: 150px;
  height: 50px;
  border: #c9c8c8 solid 1px;
  position: relative;
  top: 35px;
  margin-top: 50px;
}

.cizgi1 {
  width: 1236px;
  height: 1px;
  background-color: #797979;
  position: relative;
  top: 570px;
  left: 340px;
}

.cizgi2 {
  width: 1236px;
  height: 1px;
  background-color: #797979;
  position: relative;
  top: 630px;
  left: 340px;
}

.updateBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 600px;
  left: 340px;
}
.couponInp {
  width: 200px;
  height: 40px;
  border: #f6f6f6 1px solid;
  padding-left: 10px;
  position: relative;
  top: 600px;
  left: 850px;
}

.applyBtn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 600px;
  left: 850px;
  background-color: rgb(113, 205, 20);
  color: white;
}

.closeBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 600px;
  left: 850px;
}

.subtotalTitle {
  font-size: 1.2rem;
  position: relative;
  top: 660px;
  left: 1240px;
  font-family: sans-serif;
}

.subtotal {
  font-size: 1.2rem;
  position: relative;
  top: 640px;
  left: 1440px;
  font-family: sans-serif;
}

.cizgi3 {
  width: 1236px;
  height: 1px;
  background-color: #797979;
  position: relative;
  top: 670px;
  left: 340px;
}

.shippingTitle {
  font-size: 1.2rem;
  position: relative;
  top: 700px;
  left: 1240px;
  font-family: sans-serif;
}

.firstradio {
  color: #797979;
  font-family: sans-serif;
  position: relative;
  top: 680px;
  left: 1400px;
  margin-bottom: 20px;
}

.calculate {
  font-family: sans-serif;
  position: relative;
  top: 700px;
  left: 1400px;
}

.country {
  width: 320px;
  height: 50px;
  font-size: 1rem;
  border: none;
  background-color: #f6f6f6;
  position: relative;
  top: 720px;
  left: 1240px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  display: block;
  color: #797979;
}

.updateDetailsBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 720px;
  left: 1400px;
}

.cizgi4 {
  width: 1236px;
  height: 1px;
  background-color: #797979;
  position: relative;
  top: 740px;
  left: 340px;
}

.contiue {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 760px;
  left: 1000px;
}
.checkout {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  top: 760px;
  left: 1000px;
  background-color: rgb(113, 205, 20);
  color: white;
}

.footer {
  position: relative;
  top: 900px;
  height: 542px;
  background-color: #0d0d1f;
}

.footerul1 {
  position: relative;
  left: 400px;
  top: 125px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}
.footerul1li {
  margin: 20px 0px;

  font-size: 15px;
  transition: color 0.3s linear;
  cursor: pointer;
}
.footerul1li:hover {
  color: white;
}

.footerul1Title {
  color: white;
  position: relative;
  left: 400px;
  top: 120px;
  font-family: sans-serif;
}

.footerul2 {
  position: relative;
  left: 600px;
  top: -66px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul2Title {
  color: white;
  position: relative;
  left: 600px;
  top: -66px;
  font-family: sans-serif;
}

.footerul3 {
  position: relative;
  left: 800px;
  top: -250px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul3Title {
  color: white;
  position: relative;
  left: 800px;
  top: -255px;
  font-family: sans-serif;
}
.footerul4 {
  position: relative;
  left: 1000px;
  top: -440px;
  list-style: none;
  color: #797979;
  font-family: sans-serif;
}

.footerul4Title {
  color: white;
  position: relative;
  left: 1000px;
  top: -450px;
  font-family: sans-serif;
}

.newsletter {
  color: white;
  position: relative;
  left: 1200px;
  top: -640px;
  font-family: sans-serif;
}

.newsletterText {
  position: relative;
  left: 1200px;
  top: -610px;
  color: #797979;
  font-family: sans-serif;
}

.newsletterInp {
  position: absolute;
  top: 230px;
  left: 1200px;
  height: 60px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: none;
  padding-left: 20px;
}

.subbtn {
  position: absolute;
  top: 240px;
  left: 1400px;
  width: 100px;
  height: 35px;
  border: none;
  background-color: rgb(113, 205, 20);
  color: white;
}

.copyrightmessage {
  position: absolute;
  left: 400px;
  top: 350px;
  color: white;
}

.copyrighticon {
  position: absolute;
  left: 845px;
  top: 350px;
  color: white;
}

.by {
  position: absolute;
  left: 866px;
  top: 350px;
  color: white;
}

.bycolor {
  color: rgb(113, 205, 20);
  cursor: pointer;
}

.footericon1 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon2 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon3 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon4 {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 400px;
  left: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
